@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background-color: #22254b;
    z-index: 9;
    display: flex;
    align-items:center ;
}    

.brand-logo{
    height: 60px;
    margin-top: 20px;
    margin-left: -20px;
}

.nav-links{
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 40px;
    text-transform: capitalize;
    color:rgb(217, 217, 217);
    opacity: 0.9;
}
.nav-items a:hover{
    color: red;
}

.right-container{
    display: block;
    margin-left: auto;
}
#search-box {
    border: none;
    border-bottom: 1px solid rgb(250, 250, 250);
    background:transparent;
    outline:none;
    height: 30px;
    color: rgb(246, 246, 246);
    width: 200px;
    text-transform: capitalize ;
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#search-box:focus {
    background-color: #22254b;
    outline: none;
    width: 250px;
    border-bottom: red;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 16px;
    width: 230px;
}

.movie img {
    width:100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
.login-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    opacity: 0.9;
    text-decoration:none;
    margin-left: 40px;
}
.login-link:hover{
    color: red;
}
